@import "tailwindcss";

@theme {
  --color-dark-violet: oklch(0.1452 0.0734 309.22);
  --color-dark-violet2: oklch(0.1477 0.0715 311.69);
  --color-dark-violet3: oklch(0.1496 0.0715 305.42);
  --color-dark-violet4: oklch(0.1267 0.0616 305.42);
}
